<nav class="navbar navbar-light bg-light px-5">
  <a class="navbar-brand">CRUD - Clientes</a>
</nav>
<div class="px-5" id="main-container">
  <div class="row my-3">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="client-groups-tab" data-bs-toggle="tab" data-bs-target="#client-groups" type="button" role="tab" aria-controls="client-groups" aria-selected="true">
            Grupos de Clientes
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="clients-tab" data-bs-toggle="tab" data-bs-target="#clients" type="button" role="tab" aria-controls="clients" aria-selected="false">
            Clientes
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="client-groups" role="tabpanel" aria-labelledby="client-groups-tab">
          <div class="row py-3">
            <div class="col">
              <h3>Grupos de Clientes</h3>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let clientGroup of clientGroups" class="col col-xs-6 col-md-3">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ clientGroup.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ clientGroup.active ? 'Ativo' : 'Inativo' }}</h6>
                  <button (click)="onEditClientGroupClick(clientGroup)" class="btn btn-primary my-1">
                    Selecionar para edição
                  </button>
                  &nbsp;
                  <button (click)="onDeleteClientGroup(clientGroup)" class="btn btn-danger">
                    Deletar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col">
              <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-add-client-group-tab" data-bs-toggle="pill" data-bs-target="#pills-add-client-group" type="button" role="tab" aria-controls="pills-add-client-group" aria-selected="true">
                    Adicionar Grupo de Clientes
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-update-client-group-tab" data-bs-toggle="pill" data-bs-target="#pills-update-client-group" type="button" role="tab" aria-controls="pills-update-client-group" aria-selected="false">
                    Editar Grupo de Clientes selecionado
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-add-client-group" role="tabpanel" aria-labelledby="pills-add-client-group-tab">
                  <form #addClientGroupForm="ngForm" (ngSubmit)="onAddClientGroup(addClientGroupForm)">
                    <div class="mb-3">
                      <label for="name" class="form-label">Nome</label>
                      <input type="text" ngModel name="name" class="form-control" id="name" required />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="active">Ativo</label>
                      <select class="form-select" ngModel name="active" id="active" required>
                        <option [ngValue]="true">Sim</option>
                        <option [ngValue]="false">Não</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button [disabled]="addClientGroupForm.invalid" type="submit" data-bs-dismiss="modal" class="btn btn-primary">Salvar</button>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-update-client-group" role="tabpanel" aria-labelledby="pills-update-client-group-tab">
                  <form #updateClientGroupForm="ngForm">
                    <input type="hidden" ngModel="{{ currentClientGroup?.id }}" name="id" id="id" />
                    <div class="mb-3">
                      <label for="name" class="form-label">Nome</label>
                      <input type="text" ngModel="{{ currentClientGroup?.name }}" name="name" class="form-control" id="name" required />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="active">Ativo</label>
                      <select class="form-select" ngModel name="active" id="active" required>
                        <option [ngValue]="true">Sim</option>
                        <option [ngValue]="false">Não</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button (click)="onUpdateClientGroup(updateClientGroupForm.value)" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">
          <div class="row py-3">
            <div class="col">
              <h3>Clientes</h3>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let client of clients" class="col col-xs-6 col-md-3">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ client.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ client.active ? 'Ativo' : 'Inativo' }}</h6>
                  <p class="text-muted fs-6 my-0">
                    Tipo de Cliente:
                  </p>
                  <p class="card-text">{{ client.documentType }}</p>
                  <p class="text-muted fs-6 my-0">
                    {{ labelForDocumentField('document1', client.documentType) }}:
                  </p>
                  <p class="card-text">{{ client.document1 }}</p>
                  <p class="text-muted fs-6 my-0">
                    {{ labelForDocumentField('document2', client.documentType) }}:
                  </p>
                  <p class="card-text">{{ client.document2 }}</p>
                  <p class="text-muted fs-6 my-0">
                    Data de Cadastro:
                  </p>
                  <p class="card-text">{{ client.registrationDate }}</p>
                  <p class="text-muted fs-6 my-0">
                    Grupo de Clientes:
                  </p>
                  <p class="card-text">{{ labelForClientGroupField(client._links.clientGroup.href) }}</p>
                  <button (click)="onEditClientClick(client)" class="btn btn-primary btn-block my-1">
                    Selecionar para edição
                  </button>
                  &nbsp;
                  <button (click)="onDeleteClient(client)" class="btn btn-danger">
                    Deletar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col">
              <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-add-client-tab" data-bs-toggle="pill" data-bs-target="#pills-add-client" type="button" role="tab" aria-controls="pills-add-client" aria-selected="true">
                    Adicionar Cliente
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-update-client-tab" data-bs-toggle="pill" data-bs-target="#pills-update-client" type="button" role="tab" aria-controls="pills-update-client" aria-selected="false">
                    Editar Cliente selecionado
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-add-client" role="tabpanel" aria-labelledby="pills-add-client-tab">
                  <form #addClientForm="ngForm" (ngSubmit)="onAddClient(addClientForm)">
                    <div class="mb-3">
                      <label for="name" class="form-label">Nome</label>
                      <input type="text" ngModel name="name" class="form-control" id="name" required />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="documentType">Tipo de Cliente</label>
                      <select class="form-select" ngModel name="documentType" id="documentType" required>
                        <option [ngValue]="'pf'">Pessoa Física</option>
                        <option [ngValue]="'pj'">Pessoa Jurídica</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="document1" class="form-label">{{ labelForDocumentField('document1', addClientForm.value.documentType) }}</label>
                      <input type="text" ngModel name="document1" class="form-control" id="document1" required />
                    </div>
                    <div class="mb-3">
                      <label for="document2" class="form-label">{{ labelForDocumentField('document2', addClientForm.value.documentType) }}</label>
                      <input type="text" ngModel name="document2" class="form-control" id="document2" required />
                    </div>
                    <div class="mb-3">
                      <label for="registrationDate" class="form-label">Data de Cadastro</label>
                      <input type="date" ngModel name="registrationDate" class="form-control" id="registrationDate" required />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="active">Grupo de Clientes</label>
                      <select class="form-select" ngModel name="active" id="active" required>
                        <option *ngFor="let clientGroup of clientGroups" [ngValue]="clientGroup._links.self.href">
                          {{ clientGroup.name }}
                        </option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="active">Ativo</label>
                      <select class="form-select" ngModel name="active" id="active" required>
                        <option [ngValue]="true">Sim</option>
                        <option [ngValue]="false">Não</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button [disabled]="addClientForm.invalid" type="submit" data-bs-dismiss="modal" class="btn btn-primary">Salvar</button>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-update-client" role="tabpanel" aria-labelledby="pills-update-client-tab">
                  <form #updateClientForm="ngForm">
                    <input type="hidden" ngModel="{{ currentClient?.id }}" name="id" id="id" />
                    <div class="mb-3">
                      <label for="name" class="form-label">Nome</label>
                      <input type="text" ngModel="{{ currentClient?.name }}" name="name" class="form-control" id="name" required />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="documentType">Tipo de Cliente</label>
                      <select class="form-select" ngModel="{{ currentClient?.documentType }}" name="documentType" id="documentType" required>
                        <option [ngValue]="'pf'">Pessoa Física</option>
                        <option [ngValue]="'pj'">Pessoa Jurídica</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="document1" class="form-label">{{ labelForDocumentField('document1', addClientForm.value.documentType) }}</label>
                      <input type="text" ngModel="{{ currentClient?.document1 }}" name="document1" class="form-control" id="document1" required />
                    </div>
                    <div class="mb-3">
                      <label for="document2" class="form-label">{{ labelForDocumentField('document2', addClientForm.value.documentType) }}</label>
                      <input type="text" ngModel="{{ currentClient?.document2 }}" name="document2" class="form-control" id="document2" required />
                    </div>
                    <div class="mb-3">
                      <label for="registrationDate" class="form-label">Data de Cadastro</label>
                      <input type="date" ngModel="{{ currentClient?.registrationDate }}" name="registrationDate" class="form-control" id="registrationDate" required />
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="clientGroup">Grupo de Clientes</label>
                      <select class="form-select" ngModel="{{ currentClient?.clientGroup }}" name="clientGroup" id="clientGroup" required>
                        <option *ngFor="let clientGroup of clientGroups" [ngValue]="clientGroup._links.self.href">
                          {{ clientGroup.name }}
                        </option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="active">Ativo</label>
                      <select class="form-select" ngModel="{{ currentClient?.active }}" name="active" id="active" required>
                        <option [ngValue]="true" selected="">Sim</option>
                        <option [ngValue]="false">Não</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button (click)="onUpdateClient(updateClientForm.value)" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>